footer {
  text-align: center;
  margin-top: -20px;
}

h3 {
  color: #1720f5;
  text-align: center;
  margin-bottom: 0;
}

h5 {
  font-family: "Bebas Neue", sans-serif;
  color: #1720f5;
  text-decoration: line-through;
  margin-top: 20px;
  margin-left: 20px;
}

i {
  padding-left: 10px;
}

p {
  text-align: center;
  color: #1720f5;
}

nav {
  margin-top: 20px;
}

#grid-container {
  margin-top: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
    margin-top: 50px;
  }
}
