*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #1720f5;
}

a:hover {
  color: white;
}

body {
  background: #1720f5;
  max-height: 100vh;
  overflow-x: hidden;
}

footer {
  text-align: center;
  margin-top: -20px;
}

h1 {
  -webkit-text-stroke: 2.5px white;
  color: #1720f5;
  font-size: 220px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: -1.5%;
  line-height: 83%;
  margin-top: 60px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
}

h5 {
  font-family: "Bebas Neue", sans-serif;
  color: white;
  text-decoration: line-through;
  margin-top: 20px;
  margin-left: 20px;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}

i {
  padding-left: 10px;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 20px;
}

main {
  background: white;
  margin-top: 116px;
}

main button {
  padding: 10px 70px;
  background: white;
  border: 1px solid #1720f5;
  color: #1720f5;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

main button:hover {
  box-shadow: inset 400px 0 0 0 #1720f5;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  color: white;
}

main h2 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #1720f5;
  margin-top: 40px;
  padding-bottom: 5px;
  font-weight: 700;
}

main small {
  color: #3d155f;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
}

#s2 {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

.col-4 {
  margin-top: 220px;
  margin-left: 70px;
}

.grid {
  display: grid;
  margin: 0 auto;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.left-side {
  border: 1px solid #1720f5;
  max-width: 100%;
  max-height: 500px;
  padding: 100px;
}

.right-side {
  border: 1px solid #1720f5;
  max-width: 100%;
  max-height: 500px;
  padding: 100px;
}

.title {
  margin-left: 46%;
  margin-top: -440px;
}
